:root{
    --box-shadow: 3px 3px 7px rgb(230, 230, 230);
    --opa: 0.7;
    --logo-color: rgb(218, 105, 105);
    --color: #339dcc;
    --animation: moveon 1s alternate forwards;
}
.App{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    // font-family: 'Noto Sans JP', sans-serif;
}
.Wrapper{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    // height: 2000px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1996;
    width: 100%;
    height: 80px;
    background: rgb(255, 255, 255);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
}
.showIn{
    animation: showIn 1s alternate forwards;
}
@keyframes showIn{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-100%);
    }
}
.showOut{
    animation: showOut 1s alternate forwards;
}
@keyframes showOut{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}
.header-container{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    font-family: 'Cookie', cursive;
    font-size: 40px;
    text-decoration: none;
    color: var(--logo-color);
    
    &:hover{
        cursor: pointer;
        opacity: var(--opa);
    }
}
.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav-item{
    margin: 0 10px 0 10px;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    color: black;

    &:hover{
        cursor: pointer;
        opacity: var(--opa);
    }
}
.active{
    // border-bottom: 1px solid black;
}
.header-other{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-other-search{
    margin: 0 10px 0 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    width: 30px;
    overflow: hidden;

    & input{
        width: 200px;
        height: 25px;
        font-size: 16px;
        border: 1px solid rgb(180, 180, 180);
        outline: none;
        border-radius: 5px;
    }

    &:hover{
        opacity: var(--opa);
        cursor: pointer;

    }
}
.search-Show{
    animation: searchShow alternate 1s forwards;
}
@keyframes searchShow {
    from{
        width: 30px;
    }
    to{
        width: 250px;
    }
}
.search-Hide{
    animation: searchHide alternate 1s forwards;
}
@keyframes searchHide {
    from{
        width: 250px;
    }
    to{
        width: 30px;
    }
}
.header-other-theme{
    font-size: 20px;
    font-weight: 700;
    margin: 0 10px 0 10px;

    &:hover{
        cursor: pointer;
        opacity: var(--opa);
    }
}
.home{
    width: 100%;
}
.home-aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: var(--animation);
}
.home-aboutMe-left{
    width: 50%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-aboutMe-left-container{
    width: 70%;
    height: 85%;
    border-radius: 10px;
    background: white;
    box-shadow: 10px 10px 20px rgb(130, 130, 130);
}
.home-aboutMe-left-container-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.home-aboutMe-right{
    width: 50%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-aboutMe-right-description{
    width: 100%;
    height: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    margin-left: 3rem;
}
.home-aboutMe-right-description-container-title{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    line-height: 4rem;
    margin-bottom: 2rem;
    color: var(--color);
}
.home-aboutMe-right-description-contents{
    width: 500px;

    p{
        margin: 0 10px 0 0;
        font-size: 16px;
        line-height: 35px;
    }
}
.home-nav{
    position: fixed;
    right: 0;
    top: 0; 
    width: 150px;
    border-radius: 100rem;
    z-index: 1995;
    transform: translate(-20%, 60%);
}
.home-nav-container{
    height: 50px;
    margin: 30px 0 30px 0;
    border-radius: 100rem;
    display: flex;
    position: relative;
    overflow: hidden;
}
.home-nav-icon{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    border-radius: 100rem;
    background: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: all .3s ease;

    div{
        width: 0;
        height: 0;
        font-size: 16px;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0);
        transition: all .3s ease;
        display: flex;
        align-items: center;
    }

    &:hover{
        cursor: pointer;
        width: 100%;
        background: #339dcc;
        
        div{
            width: 100px;
            height: 100px;
            color: rgb(255, 255, 255);
        }
    }
}
.moreAboutMe{
    width: 100%;
    font-size: 16px;
}
.moreAboutMe-container-1{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(245, 245, 245);
}
.moreAboutMe-container-2{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 3px 3px 7px rgb(210, 210, 210);
    animation: var(--animation);
}
.moreAboutMe-container-3{
    width: 100%;
    height: 70%;
    display: flex;
}
.moreAboutMe-container-3-left{
    width: 55%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moreAboutMe-container-3-left-container{
    width: 80%;
}
.moreAboutMe-container-3-left-container-title{
    width: 100%;
    height: 100px;
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color);
    display: flex;
    align-items: center;
}
.moreAboutMe-container-3-left-container-contents{
    display: flex;
}
.moreAboutMe-container-3-left-container-contents-left{
    width: 50%;
    font-size: 16px;

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        margin: 0 0 30px 0;
        letter-spacing: 1px;
    }
}
.moreAboutMe-container-3-left-container-contents-right{
    width: 50%;
    font-size: 16px;

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        margin: 0 0 30px 0;
        letter-spacing: 1px;
    }
}
.moreAboutMe-container-3-right{
    width: 45%;
    height: 100%;
    border-radius: 10px;
}
.moreAboutMe-container-3-right-container{
    display: flex;
    height: 50%;
}
.moreAboutMe-container-3-right-item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moreAboutMe-container-3-right-item-content{
    width: 90%;
    height: 85%;
    border-radius: 10px;
    border: 1px solid rgb(210, 210, 210);
}
.moreAboutMe-container-3-right-item-content-top{
    height: 50%;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color);
    margin: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
}
.moreAboutMe-container-3-right-item-content-bot{
    height: 50%;
    font-size: 18px;
    margin: 0 1rem 0 1rem;
}
.moreAboutMe-container-4{
    width: 100%;
    height: calc(30% - 1.5rem);
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}
.moreAboutMe-container-4-contents{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--color);
}
.moreAboutMe-container-4-contents-item{
    width: 104px;
    height: 80%;
    margin: 0 2rem 0 2rem;
    border-radius: 100rem;
    font-size: 30px;
    border: 1px solid rgb(210, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        cursor: pointer;
    }
}
.language{
    display: flex;
    animation: var(--animation);
}
.radialProgressBar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    background: #ddd;
    margin: 20px;

    & .overlay{
        box-sizing: border-box;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin: auto;
        background: #fff;
        text-align: center;
        padding-top: 30%;
    }
}
.progress-10 {
    background-image: linear-gradient(54deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #339dcc 50%, #ddd 50%);
}
.progress-20{
    background-image: -webkit-linear-gradient(72deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(18deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #028cd5 50%, #ddd 50%);
}
.progress-30{
    background-image: -webkit-linear-gradient(108deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(-18deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #028cd5 50%, #ddd 50%);
}
.progress-40{
    background-image: -webkit-linear-gradient(144deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(-54deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #028cd5 50%, #ddd 50%);
}
.progress-50{
    background-image: -webkit-linear-gradient(right, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(-90deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #028cd5 50%, #ddd 50%);
}
.progress-60{
    background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(36deg, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(90deg, #028cd5 50%, transparent 50%), linear-gradient(54deg, #028cd5 50%, #ddd 50%);   
}
.progress-70{
    background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(72deg, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(90deg, #028cd5 50%, transparent 50%), linear-gradient(18deg, #028cd5 50%, #ddd 50%);
}
.progress-80{
    background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(108deg, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(90deg, #028cd5 50%, transparent 50%), linear-gradient(-18deg, #028cd5 50%, #ddd 50%);
}
.progress-90{
    background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(144deg, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(90deg, #028cd5 50%, transparent 50%), linear-gradient(-54deg, #028cd5 50%, #ddd 50%);
}
.progress-100{
    background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(right, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(90deg, #028cd5 50%, transparent 50%), linear-gradient(-90deg, #028cd5 50%, #ddd 50%);
}













// Theme change
.header-dark{
    background: rgb(50, 50, 50);
    color: white;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.1)   
}
.header-white{
    background: white;
    color: black;
}
.nav-dark{
    background: rgb(50, 50, 50);
    color: white;
}
.nav-white{
    background: white;
    color: black;
}
.wrapper-dark{
    background: rgb(50, 50, 50);
    color: white;
}
.wrapper-white{
    background: white;
    color: black;
}
.rightNav-dark{
    background: rgb(80, 80, 80);
    color: white;
}
.rightNav-white{
    background: white;
    color: black;
}
.moreAboutMe-light{
    color: black;
}
.moreAboutMe-dark{
    color: white;
}
.moreAboutMe1-light{
    

}
.moreAboutMe1-dark{
    background: rgb(100, 100, 100, 0.5);
}
.moreAboutMe2-light{
    
}
.moreAboutMe2-dark{
    background: rgb(50, 50, 50);
    box-shadow: 3px 3px 7px rgb(100, 100, 100);
}
// Ani
@keyframes moveon {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}